@mixin shadow {
    -webkit-box-shadow: -5px 12px 24px -6px rgba(28, 17, 10, 1);
    -moz-box-shadow: -5px 12px 24px -6px rgba(28, 17, 10, 1);
    box-shadow: -5px 12px 24px -6px rgba(28, 17, 10, 1);
}