@use '../globals/' as *;
@use '../globals/colors' as *;
@use '../utility/' as *;

// .navbar {
//     display: grid;
//     grid-template-columns: 1fr 3fr;
//     grid-template-rows: 10em;
//     grid-template-areas: 
//     "logo menu menu menu";
//     padding: 1em;
//     width: 60%;
//     overflow: hidden;
//     // height: 4em;
//     margin: 1em auto;

//     &__logo {
//         grid-area: logo;
//         font-family: $navbar;
//         font-size: 2.5rem;
//         font-style: normal;
//         font-weight: bold;
//         letter-spacing: 1.39999997615814px;
//         line-height: 17px;
//         text-transform: uppercase;
//         color: $blue;

//     }
//     &__list {
//         grid-area: menu;
//         justify-self: end;
//         margin-bottom: 0;
//         font-family: Lato, sans-serif;
//         font-size: 1rem;
//         font-style: normal;
//         font-weight: bold;
//         letter-spacing: 1.39999997615814px;
//         &__elements {
//             float: left;
//             display: block;
//             text-align: center;
//             padding: 14px 16px;
//             text-decoration: none;
//             font-size: 1.1rem;
//             text-transform:uppercase;

//             &:hover {
//                 background-color: $contrast;
//             }
//             &:active {
//                 background-color: $box;
//                 color: $blue;
//             }
//         }
//     }
// }

// .navbar .icon {
//     display: none;
// }
.navbar {

    background-color: $background;
    opacity: .9;
    overflow: hidden;
    margin-bottom: 2rem;
    @include shadow;
}
.topnav {
    width: 70%;
    margin: 0 auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: $contrast;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 300ms ease-in-out;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: $contrast;
    color: black;
    border-radius: .5rem;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: $blue;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }